In [29]:
import pandas as pd
import matplotlib.pyplot as plt
import datetime


#read GDP 
sp500_df = pd.read_csv("sp500adj.csv")
sp500_df['Date'] = pd.to_datetime(sp500_df['Date'])
sp500_df['date_month'] = sp500_df['Date'].dt.strftime('%Y.%m')
#sp500_df

#read geopolitical risk (GPR)
gpr_df_raw = pd.read_csv("data_gpr_export.csv")
gpr_df_raw['Date'] = pd.to_datetime(gpr_df_raw['month'])
gpr_df_raw['date_month'] = gpr_df_raw['Date'].dt.strftime('%Y.%m')
us_gpr_df = gpr_df_raw[['date_month','GPRC_USA']]

merged_df = pd.merge(sp500_df, us_gpr_df, on='date_month', how='inner')
merged_df

           Date    Value date_month  GPRC_USA
0    1927-12-31   329.27    1927.12       NaN
1    1928-01-31   327.60    1928.01       NaN
2    1928-02-29   325.58    1928.02       NaN
3    1928-03-31   363.68    1928.03       NaN
4    1928-04-30   372.55    1928.04       NaN
...         ...      ...        ...       ...
1170 2025-06-30  6204.95    2025.06  5.592269
1171 2025-07-31  6329.83    2025.07  3.250141
1172 2025-08-29  6432.04    2025.08  3.521580
1173 2025-09-30  6642.35    2025.09  3.195275
1174 2025-10-31  6829.89    2025.10  3.809381

[1175 rows x 4 columns]